---
import SITE_CONFIG from "../../consts/siteConfig";
import type { Seo } from "../../types/seo";

type Props = {
  seo?: Seo;
};

const { seo } = Astro.props;

const title = seo?.title
  ? SITE_CONFIG.titleTemplate.replace("%s", seo.title)
  : SITE_CONFIG.title;
const description = seo?.description || SITE_CONFIG.description;
const image = seo?.image || SITE_CONFIG.avatar;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalURL} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
